@model NormalModel
@{
ViewBag.Title = "請付款報表";
Layout = "_Bestlog";
}
@section css {
}
@section javascript {
    <script src="~/js/reportrequest.js" asp-append-version="true"></script>
}

<!--查詢-->
@section query{
<form class="form-inline">
    <div class="row">
        <div class="form-group col-sm-auto">
            <label class="control-label" for="txt_StorerKey">貨主</label>
            <input class="form-control" data-toggle="lgbSelect" readonly="true" data-valid="true" />
            <select data-toggle="lgbSelect" class="d-none" id="txt_StorerKey">
                @foreach (var storerkey in @Model.StorerKeys)
                {
                <option value="@storerkey.Value">@string.Format("{0}　{1}", storerkey.Value, storerkey.Key)</option>
                }
            </select>
        </div> 
        <div class="form-group col-sm-auto">
            <label class="control-label" for="txt_Facility">配送倉別</label>
            <input class="form-control" data-toggle="lgbSelect" readonly="true" data-valid="true" />
            <select data-toggle="lgbSelect" class="d-none" id="txt_Facility">
                @foreach (var facility in @Model.Facilities)
                {
                <option value="@facility.Value">@string.Format("{0}　{1}", facility.Value, facility.Key)</option>
                }
            </select>
        </div> 
    </div>
        <div class="row">
        <div class="form-group col-sm-6 col-lg-auto">
            <label class="control-label" for="txt_DoRouteDateS">出車日期(起)</label>
            <div class="input-group input-append datepicker">
                <input id="txt_DoRouteDateS" class="form-control" size="16" type="text" value="" readonly
                    data-default-val="">
            </div>
        </div>
        <div class="form-group col-sm-6 col-lg-auto">
            <label class="control-label" for="txt_DoRouteDateE">出車日期(訖)</label>
            <div class="input-group input-append datepicker">
                <input id="txt_DoRouteDateE" class="form-control" size="16" type="text" value="" readonly
                    data-default-val="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-lg-auto">
            <label class="control-label" for="txt_DeliveryDateS">到貨時間(起)</label>
            <div class="input-group input-append datepicker">
                <input id="txt_DeliveryDateS" class="form-control" size="16" type="text" value="" readonly
                    data-default-val="">
            </div>
        </div>
        <div class="form-group col-sm-6 col-lg-auto">
            <label class="control-label" for="txt_DeliveryDateE">到貨時間(訖)</label>
            <div class="input-group input-append datepicker">
                <input id="txt_DeliveryDateE" class="form-control" size="16" type="text" value="" readonly
                    data-default-val="">
            </div>
        </div>
    </div>
</form>
}
@section gear{
<a id="tb_export" href="#" title="匯出資料" asp-auth="Export"><i class="fa fa-download"></i></a>
}
@section toolbar{
<button id="btn_export" type="button" class="btn btn-warning" asp-auth="Export"><i class="fa fa-download"
        aria-hidden="true"></i><span>匯出資料</span></button>
}
@section card{
<div class="card">
    <div class="card-header">
        請付款報表
    </div>
    <div class="card-body">
        <table id="reportrequest-table"></table>
    </div>
</div>
}
@section tableButtons{

}